@model List<FileModel>
@{
    ViewData["Title"] = "Servers";
    ViewData["ServerId"] = ViewBag.Server.Id;
    ViewData["ServerName"] = "- " + ViewBag.Server.Title;
}

<h1>Backups</h1>
<form action="/Backup/Create/@ViewData["ServerId"]" method="post">
    <input type="submit" value="Create Backup" />
</form>
<hr />
<table width="80%" cellspacing="0">
    <tbody>
        <tr>
            @foreach (var file in Model)
            {
                <table width="600" cellspacing="0">
                    <tbody>
                        <tr>
                            <td bgcolor="#cccccc">
                                📜 @file.Path
                            </td>
                        </tr>
                        <tr>
                            <td bgcolor="#000000">
                                <font color="cccccc"> 
                                    <table>
                                        <tbody>
                                            <tr>
                                                <form action="/Backup/Apply/@ViewData["ServerId"]" method="post">
                                                    <input type="hidden" name="path" id="path" value="@file.Path" />
                                                    <input type="submit" value="Apply Backup" />
                                                </form>
                                            </tr>
                                            <tr>
                                                <form action="/Backup/Delete/@ViewData["ServerId"]" method="post">
                                                    <input type="hidden" name="path" id="path" value="@file.Path" />
                                                    <input type="submit" value="Delete" />
                                                </form>
                                            </tr>
                                        </tbody>
                                    </table>
                                </font>
                            </td>
                        </tr>
                    </tbody>
                </table>
            }
        </tr>
    </tbody>
</table>