@model List<FileModel>
@{
    ViewData["Title"] = "Servers";
    ViewData["ServerId"] = ViewBag.Server.Id;
    ViewData["ServerName"] = "- " + ViewBag.Server.Title;
}

<h1>Files</h1>
<hr>
<table width="80%" cellspacing="0">
    <tbody>
        <tr>
            @foreach (var file in Model)
            {
                <table width="600" cellspacing="0">
                    <tbody>
                        <tr>
                            @if (file.IsDir)
                            {
                                <td bgcolor="#cccccc">
                                    📁 @file.Path
                                    <form action="/Server/Files/@ViewBag.Server.Id" method="post">
                                        <input type="hidden" name="path" id="path" value="@file.Path" />
                                        <input type="submit" value="Open Folder" />
                                    </form>
                                </td>
                            }
                            else
                            {
                                <td bgcolor="#cccccc">
                                    📄 @file.Path  
                                </td>
                            }
                        </tr>
                        <tr>
                            <td bgcolor="#000000">
                                <font color="cccccc"> 
                                    ------------
                                </font>
                            </td>
                        </tr>
                    </tbody>
                </table>
            }
        </tr>
    </tbody>
</table>
