@{
    ViewData["Title"] = "Servers";
    ViewData["ServerId"] = ViewBag.Server.Id;
    ViewData["ServerName"] = "- " + ViewBag.Server.Title;
}

<h1>Files</h1>
<hr>
@foreach (var file in ViewBag.Files)
{
    <table width="600" cellspacing="0">
        <tbody>
            <tr>
                <td bgcolor="#cccccc">📄 @file</td>
            </tr>
            <tr>
                <td bgcolor="#000000">
                    <font color="cccccc"> 
                        <form action="/server/files/@ViewData["ServerId"]/" method="post">
                            <input type="hidden" name="path" id="path" value="@file" />
                            <input type="submit" value="Open" />
                        </form>
                    </font>
                </td>
            </tr>
        </tbody>
    </table>
    <hr>
    <p></p>
}
